@import './variables.scss';
@import './fonts.scss';
@import './table.scss';
@import './datepicker.scss';
@import './mixins.scss';
@import './extends.scss';

html {
  overflow: hidden;
}

button {
  outline: 0;
}

textarea {
  resize: none;
}

.big-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.blur-svg {
  display: none;
}

.application {
  @extend %blurred-this;
}

.v-menu__content {
  @extend %thin-scrollbar;
  z-index: 100 !important;
}
