@import './variables.scss';

$lhs-background-color: #297fb8;
$lhs-text: rgba(255, 255, 255, 0.75);
$lhs-active-group-header-color: #26a69a;
$lhs-active-group-background-color: rgba(0, 0, 0, 0.15);

.lhs {
  .v-list {
    width: 100%;
    background-color: transparent;
    color: $lhs-text;
    padding: 0 10px;
  }

  .tiny-sidebar {
    opacity: 0.6;
  }

  .v-icon {
    color: $lhs-text;
  }

  .v-list__group--active,
  .navigation-link:hover {
    background-color: $lhs-active-group-background-color;
  }

  .v-list__group__header:hover,
  .v-list__group__items .v-list__tile:hover,
  .navigation-link:hover {
    color: $base-white !important;

    .v-icon {
      color: $base-white !important;
    }
  }

  .v-list__group__header--active {
    background-color: $lhs-active-group-header-color;
  }

  .v-list__group__header--active:hover {
    background-color: $lhs-active-group-header-color !important;
  }

  .v-list__group__header__append-icon .v-icon {
    font-size: 16px;
  }

  .v-list__group__header--active .v-list__group__header__append-icon .v-icon {
    transform: rotate(360deg);
  }

  .v-list__group__header__append-icon .v-icon {
    transform: rotate(270deg);
  }

  .v-list__group--active:after,
  .v-list__group--active:before {
    background-color: transparent !important;
  }

  .v-list__group__items--no-action .v-list__tile {
    padding-left: 51px !important;
  }

  .v-list__tile {
    padding: 0 10px;
  }

  .v-list__tile__title {
    font-weight: 500;
    font-size: 13px;
  }
}

.lhs {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: $lhs-width;
  min-width: $lhs-width;

  &.tiny-lhs-menu {
    max-width: $lhs-tiny-width;
    min-width: $lhs-tiny-width;

    .lhs-item-action {
      min-width: 0;
    }

    .list-tile-content {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }
  background-color: $lhs-background-color;
  font-weight: 500;

  .navigation-link {
    color: $lhs-text;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }
}

.lhs-header {
  height: 30px;
}
