.popover {
  &:after,
  &:before {
    bottom: 100%;
    left: 93%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-bottom-color: $base-white;
    border-width: 8px;
    margin-left: -8px;
  }
}
