$base-text-color: #4a4a4a;
$base-button-border-color: rgba(57, 143, 251, 0.2);
$base-blue: #398ffb;
$base-green: #7ed321;
$base-green-text: #62a816;
$base-red: #d0021b;
$base-white: #ffffff;
$base-orange: #ff941b;
$base-grey: #999999;
$base-black: #000000;

$header-height: 66px;
$lhs-icon-color: #9b9b9b;

$content-background-color: #f5f6fa;

$table-additional-cell-color: #398ffb;
$table-toolbar-section-border-color: rgba(57, 143, 251, 0.2);
$table-toolbar-section-color: #398ffb;
$table-header-text-color: #999999;
$table-header-icon-color: #398ffb;
$table-row-text-color: #4a4a4a;
$table-row-border-color: #dfdfdf;
$table-icon-color: #3c91f7;
$table-shadow-color: rgba(0, 0, 0, 0.22);
$table-inactive-color: #4a4a4a;
$table-header-height: 40px;
$table-footer-height: 40px;
$table-loader-main-color: rgba(57, 143, 251, 0.2);
$table-loader-accent-color: #398ffb;
$table-loader-height: 30px;
$table-list-padding: 10px;
$table-datepicker-divider-color: rgba(151, 151, 151, 0.3);
$table-datepicker-color: #4a4a4a;
$table-datepicker-hover-color: rgba(151, 151, 151, 0.1);
$table-toolbar-height: 84px;
$table-disabled-row-color: #d8d8d8;
$table-dashboard-badge-color: #1657a8;
$table-dashboard-badge-background-color: rgba(22, 87, 168, 0.1);
$table-header-height-offset: 30px;

$popper-shadow-color: rgba(0, 0, 0, 0.13);
$popper-background-color: #fff;
$popper-text-color: #4a4a4a;
$popper-chechkbox-color: #398ffb;
$popper-revert-to-default-border: 2px solid rgba(151, 151, 151, 0.1);

$datepicker-day-color: #4a4a4a;
$datepicker-selected-day-color: #fff;
$datepicker-days-legend-border-color: rgba(151, 151, 151, 0.2);

$quick-search-border-color: rgba(74, 74, 74, 0.2);

$users-table-dashboard-height: 46px;

$table-filter-search-field-placeholder: rgba(74, 74, 74, 0.4);

$table-filter-search-field-border-bottom: rgba(151, 151, 151, 0.3);

$table-filter-border-right-color: rgba(57, 143, 251, 0.2);

$no-result-found-height: 210px;

$lhs-width: 260px;
$lhs-tiny-width: 64px;
$lhs-shadow-color: rgba(184, 184, 184, 0.5);
$base-text-color: #4a4a4a;
$base-button-border-color: rgba(57, 143, 251, 0.2);
$base-blue: #398ffb;
$base-green: #7ed321;
$base-green-text: #62a816;
$base-red: #d0021b;
$base-white: #ffffff;
$base-orange: #ff941b;
$base-grey: #999999;
$base-black: #000000;
$bright-grey: #929292;

$button-blue-color: #5597e4;
$button-yellow-color: #d8c806;
$button-brown-color: #be7a0a;

$lhs-icon-color: #9b9b9b;

$content-background-color: #f5f6fa;

$table-additional-cell-color: #398ffb;
$table-toolbar-section-border-color: rgba(57, 143, 251, 0.2);
$table-toolbar-section-color: #398ffb;
$table-header-text-color: #999999;
$table-header-icon-color: #398ffb;
$table-row-text-color: #4a4a4a;
$table-row-border-color: #dfdfdf;
$table-icon-color: #3c91f7;
$table-shadow-color: rgba(0, 0, 0, 0.22);
$table-inactive-color: #4a4a4a;
$table-footer-height: 40px;
$table-loader-main-color: rgba(57, 143, 251, 0.2);
$table-loader-accent-color: #398ffb;
$table-datepicker-divider-color: rgba(151, 151, 151, 0.3);
$table-datepicker-color: #4a4a4a;
$table-datepicker-hover-color: rgba(151, 151, 151, 0.1);
$table-disabled-row-color: #d8d8d8;
$table-dashboard-badge-color: #1657a8;
$table-dashboard-badge-background-color: rgba(22, 87, 168, 0.1);

$popper-shadow-color: rgba(0, 0, 0, 0.13);
$popper-background-color: #fff;
$popper-text-color: #4a4a4a;
$popper-chechkbox-color: #398ffb;
$popper-revert-to-default-border: 2px solid rgba(151, 151, 151, 0.1);

$datepicker-day-color: #4a4a4a;
$datepicker-selected-day-color: #fff;
$datepicker-days-legend-border-color: rgba(151, 151, 151, 0.2);

$quick-search-border-color: rgba(74, 74, 74, 0.2);

$users-table-dashboard-height: 46px;

$table-filter-search-field-placeholder: rgba(74, 74, 74, 0.4);

$table-filter-search-field-border-bottom: rgba(151, 151, 151, 0.3);

$table-filter-border-right-color: rgba(57, 143, 251, 0.2);

$no-result-found-height: 210px;

$scrollbar-track-color: #f5f5f5;
$scrollbar-thumb-color: #aaa;

$login-header-color: rgba(0, 0, 0, 0.87);

$vertical-hr-color: #979797;
$active-link-color: #4a90e2;
$table-statistic-border-color: rgba(151, 151, 151, 0.4);
$table-statistic-separator-color: rgba(151, 151, 151, 0.2);

$table-statistic-subtitle-color: #8e8e8e;
$table-statistic-header-color: #484848;
$table-statistic-body-color: #575757;

$tooltip-pie-chart-text-color: #5f5f5f;
